@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@500&display=swap') ;
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #111;
}

.sections{
    padding: 20px 0;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
}


header{
    height: 60px;
    padding: 10px 0;
    border-bottom: 1px #ffe4c4;
    position: fixed;
    width: 100%;
    z-index: 999;

}

header i.icon{
    position:absolute;
    right: 30px;
    top: 32px;
    z-index: 10;
}

header .logo h2{
    font-size: 35px;
    color: #fff;
     
}

header nav .nav-list{
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 0px;
    list-style: none;
    display: flex;
    justify-content: space-around;
   
}



header nav .nav-list .counter{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
}

header nav .nav-list .list a{
    display: inline-block;
    padding: 10px;
    margin: 0px 0px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    color:rgb(255, 255, 255);
    position: absolute;
}

header nav .nav-list .list a:hover{
    color: #a62a62;
    text-transform: uppercase;
    padding: 2px;
    border-radius: 10px;
    text-decoration: solid;
}

.sticky{
    background-color: rgba(137, 125, 137, 0.694);
    color: #111;
   
    text-decoration: overline;
}

.home{
    height: 500px;
    background-image: url('../images/img.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.home .home-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home .home-title{
    color:#fff;
    font-size: 45px;
    margin-bottom: 25px;
}


h1{
  font-size: 54px;
  text-transform: uppercase;
}

 section .container{
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#gameboard {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.box{
  height: 120px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: bisque;
  border-right: 2px solid;
  border-bottom: 2px solid;
}

.box:nth-child(3n){
    border-right: none;
}

.box:nth-child(6) ~.box{
    border-bottom: none;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: bisque;
    color: gray;
    font-size: 18px;
    transition: 200ms transform;
    font-weight: 600;
}

button:hover{
    cursor: pointer;
    transform: translateY(-2px);
}

.containermusic{
width: 13%;
height: 13%;
border-radius: 6px;
padding: 7px;
margin: 20px;
background-color: rgba(119, 118, 118, 0.1);
display:inline-block ;
}
.pic {
    display: relative;
}
.pic img{
display: relative;
width: 100%;
height: 100%;
margin: 0px;
border-radius: 10px;
padding: 10px;
}
.name h2 {
    display: flex;
    text-align: left;
    text-transform: capitalize;
    margin-top: 0px;
    font-size: 16px;
    
}
#title {
text-align: center; 
text-transform: uppercase;
font-size: 25px;
color: #cfcac5;

font-family: 'Martian Mono', monospace;
letter-spacing: 5px;
padding: 10px;
margin-top: 5px;
background-image: linear-gradient(to right, rgba(20, 141, 222, 0), rgba(150, 23, 21, 0.1));
}

.pic .play {
    display: none;
    width: 60px;
    height:60px;
    position:sticky;
    bottom:50vmax;
    left: 30%;
}
#abt {
    margin-left: 80px;
}
#playertext{
    font-family: 'Gochi Hand', cursive;
font-size: 24px;
color: #a62a62;
}
#srch h1{
    text-align: center;
    font-size: 28px;
    color: rgb(250, 255, 255);
    margin: 20px;
}
#srch {
    margin: 40px;

}
#input {
    text-align: center;
   
}
#input input{
    width: 50%;
    height: 50px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-align: center;
    color: #ffe4c4;
}
#search{
    margin: 100px;
}
button {
    display: inline-block;
    background-color: #111;
    border: 2px solid #ffe4c4;
    margin: 0px;
    margin-left: 5px;
}
.found {
display: inline-block;
text-align: center;
font-size: x-large;
color: red;
}